<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./static/css/font.css">
    <link rel="stylesheet" href="./static/css/weadmin.css">
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
</head>
<body class="login-bg">
<div class="login">
    <div class="message">管理登录</div>
    <div id="darkbannerwrap"></div>
    <form method="post" class="layui-form">
        <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <input class="loginin" value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>
<script src="./static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    layui.extend({
        admin: '{/}./static/js/admin'
    });
    //layui.use调用模块
    layui.use(['form', 'admin'], function () {
        //获得form模块
        var form = layui.form
            , admin = layui.admin;
        //监听提交
        //事件监听
        //语法：form.on('event(过滤器值)', callback);（过滤器值指lay-filter="过滤器值"）
        //function(data)里的data是一个object，data.field是表单填写的内容
        form.on('submit(login)', function (data) {
            //$.post写法：$(selector).post(URL,data,function(data,status,xhr),dataType)
            var post_data = data.field;
            $.post("{:url('verify')}"
                , post_data
                , function (data) {
                    console.log(data);
                }
            )
            return false;
        });
    })
    ;
</script>
<!-- 底部结束 -->
</body>
</html>
